.header__logo {
  width: 142px;
  min-width: 104px;
 }

/*
Формула:
Минимальная ширина + (Максимальная ширина - Минимальная ширина) * ((Ширина окна браузера - Минимальная ширина окна браузера) / (Максимальная ширина окна браузера - Минимальная ширина окна браузера)));
*/

@media screen and (max-width: 1024px) {
  .header__logo {
    width: calc(104px + (142 - 104) * ((100vw - 320px) / (1024 - 320)));
  }
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}
