.auth__input {
  background-color: transparent;
  border: none;
  margin: 0 auto 30px;
  min-width: 358px;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  opacity: 1;
}

.auth__input:focus {
  border-bottom: 2px solid #4195fc;
}
